In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('C:/Users/Makc/Skillfactory/DataFrame Кинопрокат/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
907,tt0160184,55000000,6416302,D-Tox,Sylvester Stallone|Courtney B. Vance|Tom Beren...,Jim Gillespie,Survival is a Killer.,A disgraced FBI agent with a drinking problem ...,96,Action|Thriller,Universal Pictures,1/4/2002,5.8,2002
326,tt1179891,15000000,100734718,My Bloody Valentine,Jensen Ackles|Jaime King|Kerr Smith|Betsy Rue|...,Patrick Lussier,He's gonna break your heart.,"Ten years ago, a tragedy changed the town of H...",101,Mystery|Horror,Lionsgate,1/16/2009,5.3,2009
179,tt1791528,20000000,11110975,Inherent Vice,Joaquin Phoenix|Josh Brolin|Owen Wilson|Kather...,Paul Thomas Anderson,"Under the paving stones, the beach!","In Los Angeles at the turn of the 1970s, drug-...",148,Comedy|Romance|Crime|Drama|Mystery,Ghoulardi Film Company|Warner Bros.,12/25/2014,6.3,2014
412,tt1193631,30000000,159291809,Step Up 3D,Rick Malambri|Adam G. Sevani|Joe Slaughter|Sha...,Jon M. Chu,Two Worlds. One Dream.,A tight-knit group of New York City street dan...,107,Drama|Romance,Summit Entertainment|Touchstone Pictures,8/4/2010,6.5,2010

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [4]:
answers = {}  # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

# the time given in the dataset is in string format.
# So we need to change this in datetime format
# ...

# Для задания 6
data['profit'] = data['revenue'] - data['budget']


# Функция для задания 11
def genres_amount(s):
    for s in genres_list:
        print(s, ':', data[data.genres.str.contains(s)].count().imdb_id)

# Для задания 27
import itertools as it

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения
data.query('budget == budget.max()').original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

In [9]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

In [11]:
answers['3'] = 'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [12]:
round(data.runtime.mean())

110

In [13]:
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [14]:
data.runtime.median()

107.0

In [15]:
answers['5'] = '107.0'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

In [17]:
answers['6'] = 'Avatar'

# 7. Какой фильм самый убыточный?

In [18]:
data[data.profit == data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

In [19]:
answers['7'] = 'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
data[data.revenue > data.budget].count().imdb_id

1478

In [21]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
data[data.release_year == 2008].sort_values(
    'revenue', ascending=False).original_title.head(1)

599    The Dark Knight
Name: original_title, dtype: object

In [23]:
answers['9'] = 'The Dark Knight'

In [24]:
# Вариант2
data.loc[data.release_year == 2008].set_index(
    'original_title')['revenue'].idxmax()

'The Dark Knight'

In [25]:
# Вариант3
data[data['release_year'] == 2008].query(
    'revenue == revenue.max()').original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [26]:
data[(data.release_year >= 2012) & (
    data.release_year <= 2014)].sort_values('profit').original_title.head(1)

1245    The Lone Ranger
Name: original_title, dtype: object

In [27]:
answers['10'] = 'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [28]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data['genres'].str.split('|').explode().value_counts().head(1)

Drama    782
Name: genres, dtype: int64

In [29]:
answers['11'] = 'Drama'

ВАРИАНТ 2

In [30]:
genres_list = data['genres'].str.split('|').explode().unique()
genres_amount(genres_list)

Action : 582
Adventure : 415
Science Fiction : 248
Thriller : 596
Fantasy : 222
Crime : 315
Western : 19
Drama : 782
Family : 260
Animation : 139
Comedy : 683
Mystery : 168
Romance : 308
War : 58
History : 62
Music : 64
Horror : 176
Documentary : 8
Foreign : 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [31]:
data.query('profit>0')['genres'].str.split(
    '|').explode().value_counts().head(1)

Drama    560
Name: genres, dtype: int64

In [32]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [33]:
# Вариант1
data_temp = data.pivot_table(
    values='revenue', index='director', aggfunc="sum").sort_values(
        'revenue', ascending=False).head(1)
data_temp.index[0]

'Peter Jackson'

In [34]:
# Вариант2
directors = set(data.director.str.split('|').sum())  # разделяем режисеров
pd.Series({x: data[data.director.str.contains(x)].revenue.sum(
    ) for x in directors}).sort_values(ascending=False).head(1)

Peter Jackson    6490593685
dtype: int64

In [35]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [36]:
# Вариант1
data[data.genres.str.contains(
    'Action')]['director'].str.split('|').explode().value_counts().head(1)

Robert Rodriguez    9
Name: director, dtype: int64

In [37]:
answers['14'] = 'Robert Rodriguez'

In [38]:
# Вариант2
data_tmp = data[data.genres.str.contains("Action")]
data_tmp = data_tmp['director'].str.cat(sep='|')  # превращаем все в одну строку
data_tmp = pd.Series(
    data_tmp.split('|'))  # создаем список разделяя строку по '|'
data_tmp = data_tmp.value_counts(
    ascending=False)  # считаем количество элементов строке
data_tmp.head(1)

Robert Rodriguez    9
dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [39]:
data2 = data.copy()
data2 = data2[data2.release_year == 2012]  # отдеяем фильмы за 2012
data2['cast'] = data2['cast'].str.split('|')  # разделяем актеров
data2 = data2.explode('cast')
data2 = data2.groupby('cast').sum().sort_values(
    'revenue', ascending=False).index[0]  # групируем по актерам и сортируем по кассовым сборам
data2

'Chris Hemsworth'

In [40]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [41]:
data[data.budget >= data.budget.mean()]['cast'].str.split(
    '|').explode().value_counts().head(1)

Matt Damon    18
Name: cast, dtype: int64

In [42]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [43]:
data[data.cast.str.contains(
    'Nicolas Cage')]['genres'].str.split('|').explode().value_counts().head(1)

Action    17
Name: genres, dtype: int64

In [44]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [45]:
data[data.production_companies.str.contains(
    'Paramount Pictures')].nsmallest(1, 'profit').original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [46]:
answers['18'] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [47]:
data.groupby('release_year').sum().nlargest(15, 'revenue').index[0]

2015

In [48]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [49]:
data[data.production_companies.str.contains('Warner Bros')].groupby(
    'release_year').sum().nlargest(1, 'profit').index[0]

2014

In [50]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [51]:
data.release_date = pd.to_datetime(data.release_date)
data['month'] = data.release_date.dt.strftime('%B')[:]
data['month'].value_counts().index[0]

'September'

In [52]:
answers['21'] = 'September'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [53]:
data[(data.month == 'June') | (
    data.month == 'July') | (data.month == 'August')].count().month

450

In [54]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [55]:
# Вариант1
data[(data.month == 'December') | (data.month == 'January') | (
    data.month == 'February')].groupby('director').count(
        ).nlargest(1, 'budget').index[0]

'Peter Jackson'

In [56]:
answers['23'] = 'Peter Jackson'

In [57]:
# Вариант2
mov = data.copy()
mov['release_date'] = pd.to_datetime(mov['release_date'])
mov[mov.release_date.dt.month.isin([12, 1, 2,])].director.str.split(
    '|').explode().value_counts().head(1)

Peter Jackson    7
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [58]:
# создадим столбец с длиной названия
data['title_length'] = data['original_title'].map(lambda x: len(x))
companies = data['production_companies'].str.split(
    '|').explode().unique()  # получим список уникальных названий компаний
sum_gen = pd.Series(
    dtype='float64', index=companies)  # создадим серию для хранения средних значений
# по всему датафрейму для каждой из компаний вычислим среднее значение для всех названий фильмов созданных компанией
for comp in companies:
    sum_gen[comp] = data['title_length'][data['production_companies'].map(
        lambda x: True if comp in x else False)].mean()
# получим топ-5
sum_gen.sort_values(ascending=False).index[0]

'Four By Two Productions'

In [59]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [60]:
# созадим столбец с количеством символов в названии фильма
data['overview_length'] = data['overview'].str.split(' ').str.len()  # создадим столбец с длиной описания
data.production_companies = data.production_companies.str.split('|')  # разделим компании
data2 = data.explode('production_companies')
data2.groupby('production_companies')['overview_length'].mean().idxmax()  # групируем по компаниям

'Midnight Picture Show'

In [61]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [62]:
data.loc[(data['vote_average'] > np.percentile(
    data['vote_average'],99))].original_title

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [63]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [64]:
cast_pairs = data.copy()
cast_pairs['cast'] = cast_pairs.cast.str.split('|')  # раздеим актеров
cast_pairs.cast = cast_pairs.cast.apply(lambda x: list(it.combinations(sorted(x), 2)))  # перебирем пары, которые снимались вместе
cast_pairs.explode('cast').cast.mode()

0     (Daniel Radcliffe, Emma Watson)
1    (Daniel Radcliffe, Rupert Grint)
2         (Emma Watson, Rupert Grint)
dtype: object

In [65]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

ВАРИАНТ 2

# Submission

In [66]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107.0',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'September',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [67]:
# и убедиться что ни чего не пропустил)
len(answers)

27